{% extends "layoutdeux.njk" %}
{%block css %}
  <link rel="stylesheet" href="Public/css/style.css"/>
{% endblock %}

{% block content %}
<div class="account-color-info">
<h1>MES INFOS</h1>

<h3>{{nickname}}</h3>
<h3> {{name}}</h3>
<img src="{{picture}}"></img>
</div>

<div class="account-color-achat">

<h1>MES ACHATS</h1>

<h3>{{achatname}}</h3>
<h3>{{achatplatform.name}}</h3>
<img src="{{achatcover.url}}"></img>
</div>
{% endblock %}

