{% extends "layout.njk" %}
{%block css %}
  <link rel="stylesheet" href="Public/css/style.css"/>
{% endblock %}

{% block content %}
<h1>TEST</h1>
<a href="/Infos">Mes Infos</a>
<a href="/Buying">Mes Achats</a>
<img src="{{picture}}"></img>
<h3>{{name}}</h3>
<h3>{{nickname}}</h3>

{% endblock %}

