{% extends "layout.njk" %}
{%block css %}
  <link rel="stylesheet" href="Public/css/style.css"/>
{% endblock %}

{% block top %}
<button>
<a href="/">Dev Games</a>
</button>
<form action="/search">
<input type="text" placeholder="OldGen,NewGen..." name="Search">
<button type="submit">Search</button>
</form>


{% endblock %}

{% block content %}



{% endblock %}

