{% extends "layout.njk" %}

{% block content %}


{# ------ GAME-DETAILS ------- #}

{%for game in gameDetails %}
<div class="card bg-white rounded">
<div class="row mx-auto">
  <div class="col-sm-4">
      <img src="{{game.cover.url}}" class="img-fluid rounded" alt="{{game.cover.name}}">
  </div>


  <div class="col-sm-8 text-center bg-white rounded" >
        <h5 class="card-title">{{game.name}} </h5>
        <p class="card-title"> <img class ="rounded" src="{{game.platform.platform_logo_url}}" alt ="{{game.platform.name}}"style="width:5rem"/> </p>
        <p class="card-text"> Genre: {{game.genres}} </p>
      <div>


  <form method="get" action="/panier">
   <input type="submit" name="{{game._id}}" value="BUY NOW!" ><span><i class="fas fa-shopping-cart"></i></span></input>
  </form>
  </div>
  </div>

  <div class="row justify-content-center">
  <div class="col-8 text-center bg-secondary">
     <p class="card-text"> {{game.summary}}</p>
  </div>

       <button class="btn btn-secondary" type="button">
        Add to cart
        <span><i class="fas fa-plus"></i></span>
        </button>
        <button class="btn btn-secondary" type="button" >
        Buy now
        <span><i class="fas fa-shopping-cart"></i></span>
        </button>
    </div>
      <div class="row justify-content-center bg-white rounded">
        <div class="col-8 text-center ">
          <p class="card-text"> {{game.summary}}</p>
        </div>
      </div>

  </div>
  </div>

{%else%}
  <li> It is empty </li>
{%endfor%}

{# ------ GAME-DETAILS END ------- #}
{% endblock %}



