{% extends "layout.njk" %}
{%block css %}
  <link rel="stylesheet" href="Public/css/style.css"/>
{% endblock %}

{% block content %}

{%for item in myPlatform %}
<a href = "/{{item._id}}/{{item.slug}}"><img src="{{item.cover.url}}"/></a>
{# <p> {{item.name}}</p> #}


{%endfor%}

{% endblock %}

