{% extends "layout.njk" %}
{%block css %}
  <link rel="stylesheet" href="Public/css/style.css"/>
{% endblock %}

{% block content %}
 {%for item in myPlatform %}
  <div class="container justify-content-center" style="width: 18rem ">
    <a href = "/{{item._id}}/{{item.slug}}"><img src="{{item.cover.url}}"/></a>
   </div>
 {%endfor%}




{% endblock %}

