{% extends "layout.njk" %}
{%block css %}
  <link rel="stylesheet" href="Public/css/style.css"/>
{% endblock %}

{% block content %}

{%for item in myPlatform %}
<a href = "/{{item._id}}/{{item.slug}}" class= "btn btn-secondary"><img src="{{item.cover.url}}"class="img-fluid"alt="{{item.name}}"/></a>
{# <p> {{item.name}}</p> #}
{%else%}
    <li> No games Found </li>
{%endfor%}

{% endblock %}

