{% extends "layout.njk" %}

{%block css %}
  <link rel="stylesheet" href="Public/css/style.css"/>
{% endblock %}

{% block content %}
{% for item in allGames %}
<p> {{item.name}}</p>
{%endfor%}

<p>{{allPlatform.name}}</p>



{% endblock %}

