{% extends "layout.njk" %}


{% block content %}
{% for item in allPlatformsNameUnique %}{% endfor %}

<a href=""> Nintendo </a>
<a href="{{allPlatformsNameUnique[0]}}">
<img src="{{urlPlatformsUnique[0]}}">
</a>

<a href="{{allPlatformsNameUnique[1]}}">
<img src="{{urlPlatformsUnique[1]}}">
</a>

<a href="{{allPlatformsNameUnique[2]}}">
<img src="{{urlPlatformsUnique[2]}}">
</a>

<a href="{{allPlatformsNameUnique[3]}}">
<img src="{{urlPlatformsUnique[3]}}">
</a>

<a href="{{allPlatformsNameUnique[7]}}">
<img src="{{urlPlatformsUnique[7]}}">
</a>

<a href="">Playstation</a>

<a href="{{allPlatformsNameUnique[4]}}">
<img src="{{urlPlatformsUnique[4]}}">
</a>

<a href="{{allPlatformsNameUnique[5]}}">
<img src="{{urlPlatformsUnique[5]}}">
</a>

<a href="{{allPlatformsNameUnique[6]}}">
<img src="{{urlPlatformsUnique[6]}}">
</a>

<a href=""> Xbox</a>

<a href="{{allPlatformsNameUnique[8]}}">
<img src="{{urlPlatformsUnique[8]}}">
</a>

<a href="{{allPlatformsNameUnique[9]}}">
<img src="{{urlPlatformsUnique[9]}}">
</a>


{% endblock %}

