{% extends "layout.njk" %}

{% block content %}
<li><button>
<a href="{{allPlatformsNameUnique[0]}}">
<img src="{{urlPlatformsUnique[0]}}">
</a>
</li></button>
<li>
{%for item in myPlatform0 %}
<a href = "/{{item._id}}/{{item.slug}}"><img src="{{item.cover.url}}"/></a>
<p> {{item.name}}</p>
{%endfor%}
</li>

<li><button>
<a href="{{allPlatformsNameUnique[1]}}">
<img src="{{urlPlatformsUnique[1]}}">
</a>
</button>
</li>
<li>
{%for item in myPlatform1 %}
<a href = "/{{item._id}}/{{item.slug}}"><img src="{{item.cover.url}}"/></a>
<p> {{item.name}}</p>
{%endfor%}
</li>

<li><button>
<a href="{{allPlatformsNameUnique[2]}}">
<img src="{{urlPlatformsUnique[2]}}">
</a>
</button>
</li>
<li>
{%for item in myPlatform2 %}

<a href = "/{{item._id}}/{{item.slug}}"><img src="{{item.cover.url}}"/></a>
<p> {{item.name}}</p>
{%endfor%}
</li>

<li><button>
<a href="{{allPlatformsNameUnique[3]}}">
<img src="{{urlPlatformsUnique[3]}}">
</a>
</li></button>
<li>
{%for item in myPlatform3 %}
<a href = "/{{item._id}}/{{item.slug}}"><img src="{{item.cover.url}}"/></a>
<p> {{item.name}}</p>
{%endfor%}
</li>

<li><button>
<a href="{{allPlatformsNameUnique[7]}}">
<img src="{{urlPlatformsUnique[7]}}">
</a>
</li></button>
<li>
{%for item in myPlatform7 %}
<a href = "/{{item._id}}/{{item.slug}}"><img src="{{item.cover.url}}"/></a>
<p> {{item.name}}</p>
{%endfor%}
</li>

<li><button>
<a href="{{allPlatformsNameUnique[4]}}">
<img src="{{urlPlatformsUnique[4]}}">
</a>
</li></button>
<li>
{%for item in myPlatform4 %}
<a href = "/{{item._id}}/{{item.slug}}"><img src="{{item.cover.url}}"/></a>
<p> {{item.name}}</p>
{%endfor%}
</li>

<li><button>
<a href="{{allPlatformsNameUnique[5]}}">
<img src="{{urlPlatformsUnique[5]}}">
</a>
</li></button>
<li>
{%for item in myPlatform5 %}
<a href = "/{{item._id}}/{{item.slug}}"><img src="{{item.cover.url}}"/></a>
<p> {{item.name}}</p>
{%endfor%}
</li>

<li><button>
<a href="{{allPlatformsNameUnique[6]}}">
<img src="{{urlPlatformsUnique[6]}}">
</a>
</li></button>
<li>
{%for item in myPlatform6 %}
<a href = "/{{item._id}}/{{item.slug}}"><img src="{{item.cover.url}}"/></a>
<p> {{item.name}}</p>
{%endfor%}
</li>

<li><button>
<a href="{{allPlatformsNameUnique[8]}}">
<img src="{{urlPlatformsUnique[8]}}">
</a>
</li></button>
<li>
{%for item in myPlatform8 %}
<a href = "/{{item._id}}/{{item.slug}}"><img src="{{item.cover.url}}"/></a>
<p> {{item.name}}</p>
{%endfor%}
</li>

<li><button>
<a href="{{allPlatformsNameUnique[9]}}">
<img src="{{urlPlatformsUnique[9]}}">
</a>
</li></button>
<li>
{%for item in myPlatform9 %}
<a href = "/{{item._id}}/{{item.slug}}"><img src="{{item.cover.url}}"/></a>
<p> {{item.name}}</p>
{%endfor%}
</li>






{% endblock %}
