<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="/css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="Public/css/style.css"/>
<title>Home</title>
  {%block css %}{% endblock %}
</head>

<body>

  {% block top%}
  <button>
<a href="/">Dev Games</a>
</button>
<form action="/search">
<input type="text" placeholder="OldGen,NewGen..." name="Search">
<button type="submit">Search</button>
</form>
<form action="/login" method="post">
<input type="text" placeholder="Enter UserName" name="username">
<input type="password" placeholder="Enter Password" name="password">
<button type="submit"> Login</button>
</form>
  {% endblock %}
  {% block content%}{% endblock %}

</body>

<footer ></footer>

</html>
