<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="/css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- CSS FILES -->

<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<title>Home</title>


  {# {%block css %}
  {% endblock %} #}
</head>
<body>
<header>
<!-- NAVBAR START -->
{%block top%}
<nav class="navbar navbar-expand-lg navbar-black bg-black ">
  <div class="container-fluid ">
    <a class="navbar-brand text-white" href="/">Dev GAMES</a>
    <!-- Search bar start -->
      <form class="d-flex" method="POST" action="/search" >

        <input class="search-bar" type="text" placeholder="Enter a Game..." name="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit"> <img class= "text-white" src="/images/search.svg" alt="search bar"></img> </button>


      </form>
      <!-- Search bar end -->
     <div class="nav justify-content-end" id="navbarColor02">
      <ul class="navbar-nav me-auto ">
        <li class="nav-item">

          <form class="bg-light" action="/login" method="get">
          {%if isLogged==true %}
            <button disabled="disabled">Connexion</button>
            {%else%}
            <button class = "bg-black text-white border border-black"type="submit"> Connexion</button>
            {%endif %}
          </form>

        </li>
         <li class="nav-item">

            <form class="bg-light" action="/logout" method="get">
            {%if isLogged==false %}
            <button disabled="disabled">Déconnexion</button>
            {%else%}
                <button class = "bg-black text-white border border-black" type="submit"> Déconnexion</button>
                {%endif %}
            </form>

        </li>
        <li class="nav-item">
          <form class="bg-light" action="/private" method="get">
            <button class = "bg-black text-white border border-black" type="submit"> Mon Compte</button>
          </form>

        </li>
      <ul>
  </div>
  </div>
</nav>
<!-- NAVBAR-END -->
{% endblock %}

<!-- PLATFORMS -->




<!-- PLATFORMS END -->

<div class="bg-ligth">
<div class="btn-group"role="group" aria-label="Button group with nested dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    <img src="/images/nintendo-switch.svg"</img> Nintendo
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1"style= "">
      <li><a class="dropdown-item" href="/{{allPlatformsNameUnique[0]}}"><img class ="logo-navbar" src="{{urlPlatformsUnique[0]}}">{{allPlatformsNameUnique[0]}}</a></li>
      <li><a class="dropdown-item" href="/{{allPlatformsNameUnique[1]}}"><img class ="logo-navbar" src="{{urlPlatformsUnique[1]}}">{{allPlatformsNameUnique[1]}}</a></li>
      <li><a class="dropdown-item" href="/{{allPlatformsNameUnique[2]}}"><img class ="logo-navbar" src="{{urlPlatformsUnique[2]}}"> {{allPlatformsNameUnique[2]}}</a></li>
      <li><a class="dropdown-item" href="/{{allPlatformsNameUnique[3]}}"><img class ="logo-navbar" src="{{urlPlatformsUnique[3]}}"> {{allPlatformsNameUnique[3]}}</a></li>
      <li><a class="dropdown-item" href="/{{allPlatformsNameUnique[7]}}"><img class ="logo-navbar" src="{{urlPlatformsUnique[7]}}"> {{allPlatformsNameUnique[7]}}</a></li>
  </ul>
</div>

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fab fa-playstation"></i> Playstation
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2"style= "">
      <li><a class="dropdown-item" href="/{{allPlatformsNameUnique[4]}}"><img class ="logo-navbar" src="{{urlPlatformsUnique[4]}}"> {{allPlatformsNameUnique[4]}}</a></li>
      <li><a class="dropdown-item" href="/{{allPlatformsNameUnique[5]}}"><img class ="logo-navbar" src="{{urlPlatformsUnique[5]}}"> {{allPlatformsNameUnique[5]}}</a></li>
      <li><a class="dropdown-item" href="/{{allPlatformsNameUnique[6]}}"><img class ="logo-navbar" src="{{urlPlatformsUnique[6]}}"> {{allPlatformsNameUnique[6]}}</a></li>
  </ul>
</div>


<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button"id="dropdownMenuButton1"data-bs-toggle="dropdown" aria-expanded="false"><i class="fab fa-xbox"></i> Xbox</button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2"style= "">
      <li><a class="dropdown-item" href="/{{allPlatformsNameUnique[8]}}"><img class ="logo-navbar" src="{{urlPlatformsUnique[8]}}"> {{allPlatformsNameUnique[8]}}</a></li>
      <li><a class="dropdown-item" href="/{{allPlatformsNameUnique[9]}}"><img class ="logo-navbar" src="{{urlPlatformsUnique[9]}}"> {{allPlatformsNameUnique[9]}}</a></li>
    </ul>
</div>



<!-- LOGIN/LOGOUT END -->
</header>
<section class= "parallax"></section>


  {% block content%}{% endblock %}
<section class= "parallax"></section>


<!-- JS FILES-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.0/umd/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>


</body>



</html>
