/* ------ Logo Navbar ------- */
.logo-navbar {
  width: 20%;
  border-radius: 2rem;
  background-color: black;
  opacity: 70%;
}
/* ------ Search bar ------- */
.search-bar {
  border: 1px solid #ccc;
  outline: none;
  background-size: 22px;
  background-position: 13px;
  border-radius: 10px;
  width: 500px;
  height: 50px;
  padding: 25px;
  transition: all 0.5s;
}

/* ------ Parallax ------- */
body,
html {
  background-image: url("https://images8.alphacoders.com/118/thumb-1920-1186452.jpg") !important;
  height: 25%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* ------ Parallax ------- */
.parrallax {
  background-image: url("https://images8.alphacoders.com/118/thumb-1920-1186452.jpg");
  background-attachment: fixed;
  background-position: center;
  width: 70%;
  height: 300px;
  margin: 0 auto;
  padding-top: 10%;
}

/* ------ Home page ------- */
.cover {
  width: 10rem;
  height: 12rem;
  background-color: #2a4647;
  border-radius: 10%;
  box-shadow: 7px;
}
.no-cover-logo {
  display: block;
  margin: 0 auto;
  padding-top: 50%;
  width: 4em;
}

.logo-console-homepage {
  width: 4rem;
  height: 3rem;
}
.btn-console {
  width: 8rem;
  height: 3rem;
  border-radius: 10%;
  background-color: darkgray;
}

/* ------ Game-details page ------- */
.container-game-details {
  width: 70%;
  height: 300px;
  margin: 0 auto;
  padding-top: 6%;
}

/* ------ Footer ------- */
footer {
  background-color: black;
  text-align: center;
  text-decoration: none;
  padding-top: 5em;
  box-shadow: 90px 0 100px 100px black;
}
.account-color-info {
  color: white;
  padding-bottom: 3rem;
}
.account-color-achat {
  color: white;
  padding-top: 1rem;
}
